.single-recipe-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-recipe-details {
  width: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.single-recipe {
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: 3rem;
  align-items: center;
}

.single-recipe img {
  height: 18.75rem;
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
}

.single-recipe-info h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.single-recipe-info > p {
  color: rgb(85, 85, 85);
  text-align: justify;
  margin-bottom: 2rem;
}

.single-recipe-time {
  font-family: "Arvo", Georgia, Cambria, Times New Roman, Times, serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.single-recipe-time div i {
  color: rgba(114, 63, 95, 1);
}

.single-recipe-time div {
  color: rgb(122, 122, 122);
}

.recipe-tags{
  font-family: "Arvo", Georgia, Cambria, Times New Roman, Times, serif;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  font-size: 0.75rem;
}

.tag{
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
  letter-spacing: 1px;
  
  border-radius: 3px;
  color: white;
  font-size: 0.6rem;
  background-color: rgba(114, 63, 95, 1);
  padding: 0.25rem;
}

.recipe-instructions-container {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 1rem 3rem;
  margin-top: 3rem;
}

