.heading {
  margin-top: 0.5rem;
  padding-bottom: 2rem;
}

.heading-style1 {
  font-family: "Arvo", Georgia, Cambria, Times New Roman, Times, serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.85rem;
}

.heading-style2 {
  font-family: "Dancing Script", cursive;
  font-style: italic;
  color: rgba(114, 63, 95, 1);
  font-size: 2rem;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search {
    width: 45%;
    margin: auto;
    display: flex;
    align-items: center;
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.1), inset -2px -2px 8px #f9f9f9;
    border-radius: 24px;
    margin-bottom: 2rem;
  }

  .search button{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .search-input {
    width: 90%;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    outline: none;
    background-color: transparent;
  }
  
  .material-icons {
    font-size: 30px;
    color: rgba(114, 63, 95, 1);
    margin-left: 1rem;
  }