.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 45%;
  margin: auto;
  display: flex;
  align-items: center;
  box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.1), inset -2px -2px 8px #f9f9f9;
  border-radius: 24px;
  margin-bottom: 2rem;
}

.search button{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-input {
  width: 90%;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: none;
  background-color: transparent;
}

.material-icons {
  font-size: 30px;
  color: rgba(114, 63, 95, 1);
  margin-left: 1rem;
}


.recipe-container {
  background-color: rgb(247 247 247 / 1);
}

.recipes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 1rem;
  width: 85%;
  margin: 0 auto;
  padding: 2rem 0;
}

.break{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.break hr{
  width: 85%;
  margin-top: 3rem;
  border: none;
  border:1px solid rgb(247 247 247 / 1);
}

.popular-brands{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popular-brands h3{
  font-family: Montserrat,sans-serif;
  text-transform: uppercase;
  font-weight: 750;
  font-size: 0.75rem;
  font-weight: 850;
  letter-spacing: 2px;
  color: rgb(237 182 84 / 1);
  margin-bottom: 1.75rem;
}

.popular-brand{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
}

.popular-brand li img{
  width: 128px;
}