footer {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Arvo", Georgia, Cambria, Times New Roman, Times, serif;
  gap: 2rem;
}

.policy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.policy a {
  color: rgb(122, 122, 122);
  font-size: 0.7rem;
}

.policy a:hover {
  color: rgba(114, 63, 95, 1);
}

.policy a:visited {
  color: rgb(122, 122, 122);
}

.footer {
  width: 83%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 1.85rem;
}

.footer-links div {
  display: flex;
  flex-direction: column;
}

.footer-links div h3 {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #4d4d4d;
}

.footer-links div a {
  color: rgb(122, 122, 122);
  font-size: 0.8rem;
}

.footer-links div a:hover {
  color: rgba(114, 63, 95, 1);
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

.social-links a {
  width: 37px;
  height: 37px;
  font-size: 1.7rem;
  color: white;
  background-color: rgba(114, 63, 95, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  padding-top: 2rem;
  grid-row: 3;
  grid-column: 1;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.copyright h1 {
  font-family: Roboto Slab, serif;
  color: rgba(114, 63, 95, 1);
  font-weight: 250;
  font-size: 2.3rem;
}

.of-style {
  font-family: Sacramento, cursive;
  font-size: 2.75rem;
}

.copyright-terms {
  font-size: 0.7rem;
  color: rgb(122, 122, 122);
}

.footer-input {
  background-color: rgba(114, 63, 95, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-style1 {
  font-family: "Dancing Script", cursive;
  font-style: italic;
  color: rgb(247, 247, 247);
  font-size: 2.5rem;
}

.footer-style2 {
  font-family: "Arvo", Georgia, Cambria, Times New Roman, Times, serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  color: white;
}

.footer-input p {
  font-style: italic;
  color: rgba(255, 255, 255, 0.534);
  margin-top: -10px;
}

.signup-container {
  margin-top: 1rem;
  width: 90%;
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
}

.signup-container button {
  background-color: #edb654;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.2rem;
  padding: 0.62rem 1rem;
}

.signup {
  box-shadow: inset 0 4px 0 1px rgba(0, 0, 0, 0.075);
  outline: none;
  padding: 0.8rem 0.5rem;
  width: 100%;
  border: 0.8px solid #808080;
}

.input-brands {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.brands {
  margin-top: 2.2rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #4d4d4d;
}

.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}


.food-blog{
    width: 67px;
}

.clariti{
    width: 140px;
}

.food-blog,
.clariti {
    filter: grayscale(100%);
}

.food-blog:hover,
.clariti:hover {
    filter: grayscale(0%);
}